<% provide(:title, "About") %>

<h1>About 2</h1>

<span class="image-float-right">
  <%= link_to image_tag("putting.jpg", alt: "Putting"),
            landing_pages_about_path %>
</span>

<p>The Golf Handicapper is a FREE tool that can be used to calculate your USGA golf handicap.  You need a minimum of 5 rounds for an official USGA handicap.  For complete instructions on how to calculate your handicap, visit
<%= link_to "How to Calculate Your Golf Handicap", landing_pages_help_path %>. Copyright 2017.</p>

<p class="mt40">Contact The Golf Handicapper about this application at <a href="emailto:inthetube@hotmail.com">inthetube@hotmail.com</a>.</p>
