<% provide(:title, "Privacy") %>

<div class="tac">
  <h1>Privacy Policy</h1>
</div>

<p>Your email is only used for login purposes.  Your information will never be shared with a <a href="https://gifimage.net/wp-content/uploads/2017/07/hacked-gif-3.gif" target="_blank">third party.</a></p>
<p>Your account can be deleted at any time.</p>
<p>If you like this free application, please donate Bitcoin or Ethereum.</p>
<ul>
  <li>Bitcoin: <%= link_to '1FXrjRdJoV7MopMHn7Sa4kXQMfZhMXX4UL', "https://blockchain.info/address/1FXrjRdJoV7MopMHn7Sa4kXQMfZhMXX4UL", target: "_blank", class: "btn btn-link" %>
  <li>Ethereum: <%= link_to '0x2fc3FF1913A0F229e5dB108f7190eB777E9Cfc02', "https://etherscan.io/address/0x2fc3FF1913A0F229e5dB108f7190eB777E9Cfc02", target: "_blank", class: "btn btn-link" %>
</ul>
