<footer class="footer">

  <small>
    <a href="https://the-golf-handicapper.herokuapp.com/">The Golf Handicapper</a> - Copyright ©2017
  </small>

  <nav>
    <ul>
      <li><%= link_to 'Privacy Policy', landing_pages_privacy_path %></li>
    </ul>
  </nav>

</footer>
